@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-brand-primary: #F7931E;
  --color-brand-dark: #CC6E00;
  --color-brand-light: #FFE8CC;

  --color-neutral-white: #FFFFFF;
  --color-neutral-light: #F8F8F8;
  --color-neutral-gray: #4B4B4B;
  --color-neutral-dark: #1E1E1E;

  --color-accent-teal: #009FB7;
  --color-accent-navy: #002B5B;


  
}

@theme{
  --breakpoint-xs: 400px; 
  --breakpoint-sm: 500px; 
  --breakpoint-md: 600px; 
  --breakpoint-lg: 900px;
}

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;

  }
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
  }
}

/*LOADING SPINNER SYLES*/
@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}



:root {
  --bp-largest: 75em;  /* 1200px/16 = 75em */
  --bp-large: 68.75em; /* 1100px/16 */
  --bp-medium: 56.25em; /* 900px/16 */
  --bp-small: 37.05em; /* 600px/16 */
  --bp-smaller: 31.25em; /* 500px/16 */
  --bp-smallest: 25em; /* 400px/16 */
  --bp-x-smallest: 18.75em; /* 300px/16 */

  
}




